// Import Variables
@import '../../../../style/variables';

.latest-activity-container {
    width:100%;
    background: #fff;
    height: 100%;
    display:flex;
    flex-direction: column;
    border-radius: 10px;

    .heading {
        color: $darkGrey;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 1em 0 0 1.75rem;
    }

    .view-all-link {
        color: $primary;
        text-decoration: none;
        margin: 1em 0 0 2em;

        &:hover {
            text-decoration: underline;
        }
    }

    .disabled-view-all-link {
        color: lighten($grey, 20%);
        margin: 1em 0 0 2em;
        cursor: default;
    }
}

@media screen and (max-width: 595px) {
    .latest-activity-container {
        text-align:center;

        .view-all-link {
            margin-left: 0;
        }

        .heading {
            padding-left: 0;
        }
    }
}