// Import Variables
@import '../../../../style/variables';

.latest-activity-container {
    width:100%;
    background: #fff;
    height: 100%;
    display:flex;
    flex-direction: column;
    border-radius: 10px;

    .heading {
        color: $darkGrey;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 1em 0 0 1.75rem;
    }
}