@import '../../../../style/variables';

.sidebar {
    background: #F9F9F9;
    width:20vw;
    position: absolute;
    left:0;
    top: 50px;
    height: calc(100vh - 50px);
    font-family: 'Segoe UI', sans-serif;

    .sidebar-brand {
        margin: 3em 0 3em 0;
        display:flex;
        align-items: center;
        justify-content: center;

        .sidebar-brand-heading {
            font-weight: normal;
            font-size: 1.65rem;
        }
        
        .sidebar-brand-img {
            width: 40px;
            height: 40px;
            border-radius:50%;
            margin-right: 15px;
        }
    }

    .links-list {
        margin-left: 4em;
        list-style: none;

        .links-list-item {
            height: 30px;
            margin: 1em 0;
            position: relative;

            .link {
                color: $darkGrey;
                font-size: 1rem;
                text-decoration: none;
                transition: color .2s ease-in-out;

                .icon, .text {
                    position: absolute;
                    top: 50%;
                    transform:translateY(-50%);
                }

                .text {
                    left: 25px;
                    font-weight: 600;
                    margin-top: -1px;
                }

                &.active {
                    color: $primary;
                }

                &:hover {
                    color: $primary;
                }

            }
        }
    }

    .small-text {
        color: $grey;
        font-size: .75em;
        position:absolute;
        left:50%;
        bottom: 20px;
        transform:translateX(-50%);

        &:first-of-type {
            bottom: 40px;
        }

        .link {
            color: $primary;
        }
    }
}