// Variables
$dark: #222222;
$primary: #4793DF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    font-family: 'Helvetica', sans-serif;
    overflow-x: hidden;
    background: #000;
}

.form-container {
    
    .bg-img {
        height: 100vh;
        width:100vw;
        position: absolute;
        left:0;
        top: 0;
        opacity: 0.45;
        object-fit: cover;
        object-position: 50% 50%;
        z-index: -1;
    }

    .sign-up {
        width: 25vw;
        background: #fff;
        padding: 2em 0;
        position:absolute;
        left:50%;
        top: 50%;
        transform:translate(-50%, -50%);
        border-radius: 10px;

        .title {
            color: $dark;
            font-weight: normal;
            font-size: 1.8rem;
            text-align:center;
        }

        .sub-text {
            color: lighten($dark, 20%);
            font-size: 1rem;
            text-align:center;
            padding: 1em 0;
        }
    }
}