@import '../../../../style/variables';

.select-project {
    background: #fff;
    width: 40vw;
    height: 50vh;
    border-radius: 12.5px;
    padding: 4em 2em 0em 2em;
    position: absolute;
    left: 60%;
    top:53.5%;
    transform:translate(-50%, -50%);
    min-width:300px;

    .heading {
        color: lighten($darkGrey, 15%);
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: .35em;
        text-align:center;
    }

    .btn {
        position:relative;
        left:50%;
        transform:translateX(-50%);
        margin-top: 2em;
    }

    .form-container {
        margin-top: 2em;
    }
}

@media screen and (max-width: 1047px) {
    .select-project {
        left:50%;
        width: 70vw;
    }
}

@media screen and (max-width: 502px) {
    .select-project {
        width: 85vw;
        height: 60vh;
        top: 57%;
    }
}