@import '../../../../style/variables';

.edit-details {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;
    position: relative;
    
    .title {
        color: $darkGrey;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1em 0 0 1em;
    }

    .edit-input-container {
        width: 60%;
        margin: 2em 0 2.5em 1.5em;

        .label {
            color: $grey;
            font-weight: 500;
        }

        .input-group {
            height: 37.5px;

            input {
                height: 100%;
                border: 0;
                background-color: #ECECEC;
                border-radius: 10px 0 0 10px;
                padding-left: 1em;
                color: $darkGrey;
                margin: 1em 0;
                width: 75%;
            }

            .input-group-btn {
                height: 100%;
                padding: 0;
                width: 25%;
                border-radius: 0 10px 10px 0;
                
            }

        }

        &.large {
            width: 90%;

            .input-group {

                input {
                    width: 85%;
                }

                .input-group-btn {
                    width: 15%;
                }
            }
        }
    }

    .loader {
        animation: loader infinite 2s;

        &.title {
            margin: 1.5em;
            width:250px;
            height:40px;
        }

        &.edit-input-label {
            margin: 1em 2.25em;
            width: 150px;
            height: 25px;
        }

        &.edit-input {
            margin: 1em 2.25em;
            width: 350px;
            height: 35px;
        }
    }
}