@import '../../../../style/variables';

.delete-account {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;
    
    .title {
        color: $darkGrey;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1em 0 .75em 1em;
    }

    .delete-account-content {
        margin: 1em 1.5em;

        .heading {
            font-size: 1.1rem;
            color: $darkGrey;
            font-weight: 500;
            padding: 0 0 .5em 0;
        }

        .desc {
            color: $grey;
            font-size: .85rem;
            padding: 10px 0 20px 0;
        }
    }

    .loader {
        animation: loader infinite 2s;

        &.title {
            margin: 1.5em;
            width:250px;
            height:40px;
        }

        &.heading {
            width: 200px;
            margin: .5em 2.25em;
            height: 25px;
        }

        &.desc {
            width: 300px;
            margin: 1em 2.25em;
            height: 25px;
        }

        &.button {
            width: 150px;
            height: 32.5px;
            margin: .5em 2.25em;
        }
    }
}