@import '../../../../style/variables';

.remove-users {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;

    .heading {
        color: $darkGrey;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 1em 0 0 1.75rem;
    }
}

@media screen and (max-width: 1235px) {
    .remove-users .heading {
        font-size: 1.25rem;
    }
}