@import '../../../style/variables';

.navbar {
    position: absolute;
    top: 0; 
    left:0;
    height: 60px;
    width:100vw;
    background: $primary;
    z-index: 1;
    display:flex;
    justify-content: space-between;

    .navbar-brand {
        color: #fff;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 60px;
        margin-left: 3em;

        .icon {
            position: relative;
            top: 3.5px;
            margin-right: 7.5px;
        }
    }

    .menu-icon {
        color: #fff;
        font-size: 1.25rem;
        position:relative;
        top: 50%;
        transform:translateY(-50%);
        cursor:pointer;
        transition: color .2s ease-in-out;
        
        &:hover {
            color: #ccc;
        }
        
    }

    .right-side-content {
        display:flex;
        padding-right: 4em;
    }
}

@media screen and (max-width: 612px) {

    .navbar {

        .navbar-brand {
            margin-left: 1.5em;
        }

        .right-side-content {
            padding-right: 2em;
        }

    }
}