@import '../../../../style/variables';

.statistics {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    width: 70vw;

    .stat-box {
        width: 100%;
        height: 90px;
        background: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
        z-index: 0;

        .icon-section {
            color: #fff;
            background: $primary;
            border-radius: 10px 0 0 10px;
            position: relative;
            width: 100%;
            height: 100%;

            &>* {
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                font-size: 3rem;
            }
        }

        .text-section {

            .title {
                color: $darkGrey;
                font-size: 1rem;
                font-weight: normal;
                text-align:center;
                padding: .5em 0 .25em 0;
            }

            .value {
                font-weight: 400;
                color: $primary;
                font-size: 2rem;
                text-align:center;
            }
        }
    }
}

@media screen and (max-width:1419px) {
    .statistics {
        width:65vw;
        gap: 2em;
    }
}

@media screen and (max-width: 1272px) {
    .statistics {
        grid-template-columns: 1fr 1fr;
        gap: 2em 4em;
    }
}

@media screen and (max-width: 1047px) {
    .statistics {
        width: calc(100vw - 8em);
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;

        .stat-box {
            
            .icon-section > * {
                font-size: 2rem;
            }

            .text-section {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .title { 
                    font-size: .85rem
                }
                
                .value {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 865px) {
    .statistics {
        grid-template-columns: 1fr 1fr;
        gap: 2em 4em;

        .stat-box {

            .icon-section > * { font-size: 2.5rem }

            .text-section {

                .title { font-size: .925rem }
                .value { font-size: 1.75rem }

            }
        }
    }
}

@media screen and (max-width: 595px) {
    .statistics {
        grid-template-columns: 1fr;
        gap: 2.5em;
        width: 50vw;
        margin-left: 12.5vw;
    }
}

@media screen and (max-width: 492px) {
    .statistics {
        width: calc(100vw - 8em);
        margin-left: 0;
    }
}