.tickets-grid {
    display:grid;
    grid-template-columns: 7fr 6fr;
    gap: 3em;
    width:70vw;
    margin-top: 2em;
    height: 70vh;
}

@media screen and (max-width: 1420px) {
    .tickets-grid {
        width: 65vw;
        gap: 1.5em;
    }
}

@media screen and (max-width: 1047px) {
    .tickets-grid {
        width: calc(100% - 4em);
    }
}

@media screen and (max-width: 865px) {
    .tickets-grid {
        grid-template-columns: 1fr;
        gap: 2em;
    }
}

@media screen and (max-width: 555px) {
    .tickets-grid {
        width: calc(100% - 2em);
        margin-left:-1em;
    }
}