@import '../../../../style/variables';

.change-table-container {
    margin-top: 1.25em;
    height: calc((100vh - 50px) - 19em);
    width: 70vw;
    background: #fff;
    border-radius: 12.5px;
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
        width: 5px;
    }

    .blocker {
        height: 2em;
        background-color: transparent;
        z-index: 1;
        width:70vw;
        position: sticky;
        bottom: 0;
        left: 0;
    }
    
    .heading {
        color: lighten($darkGrey, 15%);
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: .65em;
        padding: 1em 1.25em .25em;
    }

    .change-table {
        width: 95%;
        border-collapse: collapse;
        margin: 0 auto;

        .head-row {
            height: 40px;
            background: #F9F9F9;
            border: .5px solid #e1e1e1;

            .t-head {
                width: 25%;
                color: $darkGrey;
                font-weight: 500;
                font-size: 1rem;
                
                &:not(:first-of-type) {
                    border-left: 1px solid  #e1e1e1;
                }
            }
        }   

        .row {
            height: 50px;
            background: #FFFFFF;
            border: .5px solid #e1e1e1;

            .date {
                text-align:center;
                color: $grey;
                font-weight: lighter;
                border-left: 1px solid  #e1e1e1;
            }

            .list-item-td {
                display:flex;
                align-items: center;

                .list-item {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    min-height: 50px;
                    width: 80%;
                    margin: 0 10%;

                    .profile-icon, .profile-icon-loader {
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        object-position: 50% 50%;
                    }
                
                    .profile-icon-loader {
                        animation: loader infinite 2s;
                    }

                    .message {
                        font-size: 1rem;
                        color: $darkGrey;
                        line-height: 60px;
                        margin-left: 10px;
                        line-height: 1.2em;
                
                        .link {
                            font-weight: bold;
                            color: $darkGrey;
                            text-decoration: none;
                
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                
                }
            }
        }     
    }
    
}

@media screen and (max-width: 1420px) {
    .change-table-container {
        width:65vw;
    }
}

@media screen and (max-width: 1332px) {
    .change-table-container .change-table .row .list-item-td .list-item {

        .profile-icon {
            width: 30px;
            height:30px
        }

        .message {
            font-size: .85rem;
        }
    }
}

@media screen and (max-width: 1141px) {
    .change-table-container .change-table .row .date {
        font-size: .85rem;
    }
}

@media screen and (max-width: 1047px) {
    .change-table-container {
        width: calc(100% - 4em);

        .change-table {
            min-width: 600px;
            margin-left:2em;
        }
    }
}

@media screen and (max-width: 555px) {
    .change-table-container {
        width: calc(100% - 2em);
        margin-left:-1em;

        .heading {
            text-align:center;
        }
    }
}