@import '../../../../style/variables';

.project-actions-bar {
    width:70vw;
    height: 75px;
    background: #fff;
    border-radius: 12.5px;
    padding-left: 2em;
    position:relative;

    label {
        color: $darkGrey;
        font-size: .85rem;
        margin-right: 1em;
        line-height: 75px;

        &:not(:first-of-type) {
            margin-left: 2em;
        }
    }
        
    select {
        background: transparent;
        border: 1px solid #ccc;
        padding: 5px 10px;
        font-weight: lighter;
        font-size: .75rem;
        color: $darkGrey;
        border-radius: 5px;
   }

    .btn {
        position:absolute;
        top: 50%;
        right: 2em;
        transform:translateY(-50%);
        z-index: 2;
    }
}