@import '../../../../style/variables';
@import '../../../../style/animations';

.dropdown {
    position:absolute;
    right: 1.25em;
    top: 60px;
    width: 15em;
    min-height: 205px;
    background: #F9F9F9;
    padding: 1em 0;
    opacity: 1.0;
    display:block;
    border-radius: 5px;
    z-index: 3;
    animation: fadeIn .5s;

    &:after {
        content: '';
        border: 10px solid transparent;
        border-bottom-color: #fff;
        position:absolute;
        top: -20px;
        right: 2.9em;
    }

    .heading-container {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .heading-img {
            width: 30px;
            margin-right: 7.5px;  
            border-radius: 50%;
        }

        .heading-text {
            color: $darkGrey;
            font-weight: 600;
        }
    }

    .link {
        color: $primary;
        text-decoration: none;
        display:block;
        text-align:center;
        margin: .75em 0;

        &:first-of-type {
            margin-top: 1.5em;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .btn {
        position:relative;
        left:50%;
        transform:translateX(-50%);
        padding: 10px 16px;
        font-size: .75rem;
        margin: 1em 0 .5em 0;
    }

    &.hidden {
        display: none;
        
        * {
            display: none;
        }
    }
}

.dropdown-overlay {
    position:absolute;
    left:0;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    background: rgba(0,0,0,0.25);
    z-index: 2;
    display:block;
    opacity: 1;
    animation: fadeIn .5s;

    &.hidden {
        display:none;
    }
}