@import '../../../../style/variables';
@import '../../../../style/animations';

.ticket-section {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;
    position:relative;

    .title {
        color: $darkGrey;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1em;
    }

    .add-btn {
        position:absolute;
        top: 1.25em;
        right: 2em;
        width: 40px;
        height: 40px;
        transition: .5s ease-in-out;
        padding: 0;

        .icon {
            right:50%;
            top: 50%;
            transform:translate(50%, -50%);
        }
    }

    .loader {
        animation: loader infinite 2s;

        &.title {
            margin: 1em;
            width:250px;
            height:40px;
        }

        &.ticket {
            margin: 1.25em 1.5em;
            width: 75%;
            height: 35px;
        }
    }
}