.alert {
    width: 100%;
    padding: 1em 0 1em 10px;
    border: 1px solid transparent;
    border-radius: 2.5px;
    position: relative;

    .alert-text {
        font-size: .9rem;
        font-weight: 400;
    }

    .cross {
        position:absolute;
        right: 15px;
        top: 50%;
        transform:translateY(-50%);
        font-size: .75rem;
        cursor: pointer;
    }

    &.alert-error {
        border-color: #ff0000;

        .alert-text, .cross {
            color: #cc0000;
        }

    }

    &.alert-success {
        border-color: #06a006;

        .alert-text, .cross {
            color: #06a006;
        }

    }

    &.hidden {
        display: none;
    }
}