.alert {
    width: 100%;
    padding: .5em 0 .5em 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    
    .alert-text {
        font-size: 1rem;
        font-weight: 400;
    }

    &.alert-error {
        border-color: #ff0000;
        background: rgba(255,100,100,0.33);

        .alert-text {
            color: #cc0000;
        }
    }
}