@import 'variables';

.btn {
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
    text-align:center;
    color: #fff;
    position:relative;

    .icon {
        padding: 2px;
        font-size: 1.35rem; 
        position: absolute;
        right: 10px;
        top:50%;
        transform:translateY(-50%);
    }

    &.has-icon {
        padding-right: 36px;
    }

    &.danger {
        background: #DF4747;

        &:hover {
            background: #bb0000;
        }
    }

    &.primary {
        background: $primary;

        &:hover {
            background: darken($primary, 10%);
        }
    }


    &.light {
        color: #555555;
        background: #eee;

        &:hover {
            background: #ddd;
        }
    }

    &:disabled {
        color: $grey;
        background: #eee;
        cursor: default;

        &:hover {
            background: #eee;
        }
    }
}