@import 'variables';

.page-content {
    background: #f1f1f1;
    min-height: 100vh;
    height: 100%;
    padding: calc(50px + 5vh) 0 0 25vw;
    font-family: 'Segoe UI', sans-serif;

    .page-title {
        font-weight: 600;
        color: lighten($darkGrey, 10%);
        font-size: 2rem;
        margin-bottom: 1em;
    }

    .page-link {
        color: $darkGrey;
        transition: color .3s ease-in-out;
        font-size: 1rem;
        position:relative;
        top: 2em;
        text-decoration: none;

        &:hover {
            color: $primary;
        }
    }
}