// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

// Base Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    font-family: 'Quicksand', sans-serif;
}

.page-container {
    background: url("/img/night-city-bg.jpg") center/cover no-repeat;
    height: 100vh;
    width:100vw;
}

@import 'alerts';
@import 'form-container';
@import 'page-content';
@import 'buttons';