@import '../../../../style/variables';

.upload-profile-pic {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;
    
    .title {
        color: $darkGrey;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1em 0 .75em 1em;
    }

    .grid {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .upload-section {

        .file-name-label {
            color: $darkGrey;
            font-weight: 500;
            margin-left:1.5em;
        }

        .file-name-input {
            width: 80%;
            margin: 1em 2em;
            height: 37.5px;
            padding-left: 10px;
            border: none;
            background: #f5f5f5;
            border-radius: 2px;
        }

        .btn {
            margin: 1em 0 0 2em;
        }
    
    }   
    
    .file-preview-section {

        .label {
            color: $darkGrey;
            font-weight: 500;
            display:block;
        }

        .preview-img {
            width:40%;
            min-width:150px;
            min-height: 150px;
            max-height: 150px;
            border-radius: 50%;
            position:relative;
            top:50%;
            left:10%;
            transform:translateY(-50%);
            border: 2px solid #aaa;
            padding: 2px;
            object-position: 50% 50%;
            object-fit: cover;

            &.uploaded {
                border-color: $primary;
            }
        }
    }

    .loader {
        animation: loader infinite 2s;

        &.title {
            margin: 1.5em 0 1em 1.5em;
            width:250px;
            height:40px;
        }

        &.label {
            width: 100px;
            height: 20px;
            margin-left: 2.25em;
        }

        &.input {
            width: 50%;
            margin: 1em 2.25em;
            height: 37.5px;
        }

        &.button {
            width: 150px;
            height: 32.5px;
            margin: .5em 2.25em;
        }
    }
}

@media screen and (max-width:555px) {
    .upload-profile-pic {

        .grid {
            grid-template-columns: 1fr;
        }

        .file-preview-section {
            padding-left:2em;
            margin-top: 2em;

            .preview-img {
                left:0;
                top: 1em;
                transform:none;
                width:125px;
                height:125px;
            }
        }
    }
}