@import '../../../../style/variables';

.comment-section {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;

    .title {
        color: $darkGrey;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1em
    }
}