.manage-project-users-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;    
    gap: 3em;
    width:70vw;
    margin-top: 2em;
    height: 70vh; 
}

@media screen and (max-width: 1420px) {
    .manage-project-users-grid {
        width:65vw;
        gap: 2em;
    }
}

@media screen and (max-width: 1047px) {
    .manage-project-users-grid {
        width: 90vw;
    }
}

@media screen and (max-width: 865px) {
    .manage-project-users-grid {
        width: 60vw;
        position:relative;
        left:50%;
        transform: translateX(-50%);
        grid-template-columns: 1fr;
        margin-left: -2em;
        height: 100vh;
    }
}

@media screen and (max-width: 500px) {
    .manage-project-users-grid {
        width: 90vw;
    }
}