@import '../../../../style/variables';

.tip-section {
    width:100%;
    background: #fff;
    height: 100%;
    border-radius: 10px;

    .heading {
        color: $darkGrey;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 1em 0 0 1em;
    }

    .tip {
        padding: 1.5em 0 0 1.5em;
        font-style: italic;
        color: $grey;

        &:first-of-type {
            margin-top: 2em;
            padding-top: 0;
        }

        .star-icon {
            font-size: 1rem;
            position:relative;
            top: 3px;
            margin-right: 7.5px;
        }
    }
}

@media screen and (max-width:1419px) {
    .tip-section {
        
        .tip {
            width: 75%;
        }
        
        .tip:first-of-type {
            display:none;
        }
    }
}

@media screen and (max-width: 1272px) {

    .tip-section .tip:first-of-type {
        display:block;
    }
}

@media screen and (max-width: 1047px) {

    .tip-section .tip {
        font-size: .8rem;
        width: 90%;
    }
}