@import '../../../../../style/variables';

.ticket-table {
    margin: -.5em auto 0 auto;
    width: calc(100% - 3.25em);
    text-align:left;
    overflow-y: scroll;
    height: 190px;
    display: block;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ccc;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
    }

    thead {
        height: 40px;
        width:100%;

        .t-head {
            color: $grey;
            font-weight: 500;
            font-size: 1rem;
            padding-bottom: 1em;
            text-align:center;

            &:first-of-type {
                text-align:left;
            }
        }
    }

    tbody {
        padding-top: 1em;
        width:100%;
        text-align:center;

        .table-row {

            .t-data {
                padding-bottom: .6em;
                color: #6f6f6f;

                .view-btn {
                    height: 25px;
                    margin-top: 10px;
                    padding-top: 7.5px;
                    font-size: .725rem;
                }

                &.view {
                    display:flex;
                    justify-content: center;
                }

                &.owner {

                    .profile-pic {
                        width: 30px;
                        position:relative;
                        top: 5px;
                        left: 10px;
                    }

                    .name {
                        padding-left: 10px;
                        position:relative;
                        top: -5px;
                        left: 10px;
                        color: #6f6f6f;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .spacer {
                        color: transparent;
                    }

                }

                &.status {
                    
                    .container {
                        height: 25px;
                        padding: 0;
                        color: #fff;
                        width:100px;
                        display:flex;
                        justify-content: center;
                        border-radius: 5px;
                        margin: 10px 50px;

                        span {
                            line-height: 25px;
                            font-size: .725rem;
                            text-align: center;
                        }

                        &.not-started {
                            background-color: #DF4747
                        }

                        &.in-progress {
                            background-color: #DCB853
                        }

                        &.completed {
                            background-color: #10AF05
                        }
                    }

                }

                &.text {
                    padding-right: 50px;
                    text-align: left;
                }
            }
        }
    }
}