@import '../../../../style/variables';
@import '../../../../style/animations';

.assigned-users {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;
    position: relative;

    .title {
        color: $darkGrey;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1em 0 0 1em;
    }

    .edit-btn {
        position:absolute;
        top: 2em;
        right: 2em;
        width: 40px;
        height: 40px;
        transition: .5s ease-in-out;
        padding: 0;

        .icon {
            right:50%;
            top: 50%;
            transform:translate(50%, -50%);
        }
    }

    .sub-text {
        color: $grey;
        margin: .5em 0em 1em 1.5em;
    }

    .loader {
        animation: loader infinite 2s;

        &.title {
            margin: 1.5em;
            width:250px;
            height:40px;
        }

        &.add {
            position:absolute;
            right:2em;
            top:2em;
            width:50px;
            height:50px;
        }

    }

    .loader-grid {
        width: 100%;
        padding: 0 2em;
        height: 175px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2em;
    }
}

@media screen and (max-width:555px) {
    .assigned-users {

        .title {
            font-size: 1.25rem;
        } 

        .sub-text {
            font-size: .9rem;
            margin: .5em 0em 1em 1.35em;
        }

        .edit-btn {
            height: 30px;
            width: 30px;
            top: 1em;
            right: 2em;

            .icon {
                font-size: 1.15rem;
            }
        }
    }
}