@import '../../../../style/variables';

.history-section {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;
    position: relative;
    
    .title {
        color: $darkGrey;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1em 0 0 1em;
    }

    .sub-text {
        color: $grey;
        margin: .5em 0em 1em 1.5em;
    }

}