@import '../../../../style/variables';
@import '../../../../style/animations';

.project-details {
    background: #fff;
    height:100%;
    width:100%;
    border-radius: 10px;
    position:relative;

    .project-title {
        color: $darkGrey;
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1em;
    }

    .project-detail {
        color: $grey;
        margin: 1em 2em;
        display:block;

        &:first-of-type {
            margin: 0 2em 1em 2em;
        }
    }

    .edit-btn {
        position:absolute;
        top: 2em;
        right: 2em;
        width: 50px;
        height: 50px;
        transition: .5s ease-in-out;

        .icon {
            right:50%;
            top: 50%;
            transform:translate(50%, -50%);
        }
    }

    .loader {
        animation: loader infinite 2s;

        &.title {
            margin: 2em;
            width:250px;
            height:40px;
        }

        &.edit {
            position:absolute;
            right:2em;
            top:2em;
            width:50px;
            height:50px;
        }

        &.detail {
            margin: 2em;
            width:175px;
            height:30px;
        }
    }
}