.dashboard-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    width:70vw;
    margin-top: 2em;
    height: 60vh;  

    .grid-item-container {
        display:grid;
        grid-template-rows: 1fr 1fr;
        gap: 3em;
    }

    // For testing
    .placeholder {
        background: #fff;
        height:100%;
        width:100%;
        border-radius: 10px;
    }
}