@import '../../../../style/variables';

.users-table-container {
    background: #fff;
    width: 70vw;
    height: calc((100vh - 50px) - 14em);
    border-radius: 12.5px;
    padding: 2em 2em 0em 2em;
    position: relative;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
    }

    .blocker {
        height: 2em;
        background-color: transparent;
        z-index: 1;
        width:70vw;
        position: sticky;
        bottom: 0;
        left: 0;
    }

    .table-title {
        color: lighten($darkGrey, 16%);
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: .65em;
    }

    .users-table {
        width: 100%;
        border-collapse: collapse;
        border: .5px solid #e1e1e1;

        .head-row {
            height: 50px;
            background: #F9F9F9;
            border: .5px solid #e1e1e1;

            .t-head {
                width: 25%;
                color: $darkGrey;
                font-weight: 500;
                font-size: 1rem;
            }
        }

        .row {
            height: 50px;
            background: #FFFFFF;
            border: .5px solid #e1e1e1;
            

            .table-data {
                color: $darkGrey;
                font-weight: 400;
                font-size: 1rem;
                text-align:center;
                vertical-align:center;

                select {
                    background: transparent;
                    border: 1px solid #ddd;
                    padding: 5px 7.5px;
                    font-weight: lighter;
                    font-size: .75rem;
                    cursor:pointer;

                    &:disabled {
                        cursor: default;
                    }

                    &.changed {
                        color: #ffbb00;
                        border-color: #ffbb00;
                    }

                    &:focus {
                        color: $primary;
                        border-color: $primary;
                    }

                    option {
                        color: #000;
                    }
                }

                .btn {
                    padding: 7.5px 10px;
                    margin-left: 10px;
                    font-size: .75rem;
                }
            }
        }
    }
}

@media screen and (max-width:1420px) {
    .users-table-container {
        width:65vw;
    }
}

@media screen and (max-width: 1323px) {
    .users-table-container .users-table .row .table-data {
        font-size: .75rem;

        select {
            font-size: .65rem;
            width: 100px;
        }

        .btn {
            font-size: .65rem;
            margin-left: 7.5px;
        }
    }
}

@media screen and (max-width: 1105px) {
    .users-table-container {

        .table-title {
            position:fixed;
        }

        .users-table {
            min-width: 700px;
            margin-top: 3em;
        }
    }
}

@media screen and (max-width:1047px) {
    .users-table-container {
        width: calc(100% - 4em);
        margin-left: 0em;
    }
}

@media screen and (max-width:865px) {
    .users-table-container {
        top: 2em;
        
        .table-title {
            text-align:center;
            left:50%;
            transform:translateX(-50%);
        }

        .users-table {
            margin-top: 4em;
            margin-left: -1em;
        }
    }
}

@media screen and (max-width: 502px) {
    .users-table-container {
        .users-table {
            margin-top: 6em;
        }
    }
}