@import '../../../../style/variables';

.transfer-owner-container {
    background: #fff;
    width: 40vw;
    height: calc((100vh - 50px) - 17em);
    border-radius: 12.5px;
    padding: 4em 2em 0em 2em;
    position: absolute;
    left: 60%;
    top:53.5%;
    transform:translate(-50%, -50%);

    .heading {
        color: lighten($darkGrey, 15%);
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: .35em;
        text-align:center;
    }

    .form-container .form .form-group .btn {
        position: relative;
        left:50%;
        transform:translateX(-50%);
    }

    .form-container {
        margin-top: 2em;
    }
}

@media screen and (max-width:1047px) {
    .transfer-owner-container {
        left: 50%;
        width: 65vw;
        top: 56.67%;
    }
}

@media screen and (max-width: 682px) {
    .transfer-owner-container {
        width: 80vw;
    }
}

@media screen and (max-width: 494px) {
    .transfer-owner-container {
        height: 75vh;
        width:90vw;

        .form-container {
            margin-top: 4em;
        }
    }
}